* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	background: #ffffff;
}

img {
	display: block;
	max-width: 100%;
}
.container {
	width: 1600px;
	margin: 0 auto;
}
header {
	width: 1600px;
}
.logo{
    display: flex;
background: #222222;
}
.logosfirst{
    margin-left: 230px;
    margin-top: 18px;
    margin-bottom: 20px;
}
.logosecond{
    margin-left: 40px;
    margin-top: 28px;
    margin-bottom: 22px;
}
.logothird{
    margin-left: 860px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.logofouth{
    margin-top: 26px;
    margin-left: 33px;margin-bottom: 20px;
}
.logofifth{
    margin-top: 26px;
    margin-left: 33px;
    margin-bottom: 20px;
}
.first{
    display: flex;
background: #F1E4E6;
width: 1600px;
height: 764px;

}
.first_photo{
    width: 800.58px;
height: 764px;
left: 0px;
top: 75px;
}
.text{
    margin-top: 290px;
    margin-right: 330px;

background: #F16D7F;
}
.number{
	padding: 65px 230px 96px 230px;
}
.cool{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 30px;
    
}
.photo_menu_big{
    grid-column: span 1;
	grid-row: span 3;
	gap: 60px;
    
}
.photo_menu{
    display: flex;
	gap: 30px;
	flex-direction: column;
	text-align: center;
	align-items: center;
	
    background: rgba(33, 22, 22, 0.7);
}
.text_menu{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
flex-direction: column;
	text-align: center;
	align-items: center;
    
    color: #FFFFFF;
}
.text_menu_colour{
    
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28.8px;
text-align: center;
color: #F16D7F;
}
.shop
{font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;}
.second h2{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
color: #222222;

}
.second h3{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
color: #000000;
}
.second p{
    font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
}
.colour_price{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #F16D7F;
}
.btn{
    width: 211px;
    height: 47px;
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color:#F26376;
border-color:#FF6A6A;
background-color: #E5E5E5; ;
padding: 14px 38px;
}